* {
  font-family: "Dongle", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #645f44;
}

main {
  display: flex;
  justify-content: center;
}

header {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
.crypto-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  width: 70%;
  min-height: 80vh;
  background: url(backGround.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-top: 0;
  color: white;
}

.selectContainer {
  justify-content: center;
  text-align: center;
}

.selectContainer > h4 {
  color: white;
}
select {
  width: 15%;
  height: 3rem;
  font-size: 2.4rem;
  color: #ffd700;
  border: 3px solid #f7931a;
  border-radius: 2px;
  margin: 0;
}

ul {
  list-style-type: none;
  background-position: none;
  text-align: center;
}

li {
  background-position: none;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: #ffd700;
}

footer {
  text-align: center;
  color: #f7931a;
  height: fit-content;
  font-size: 1.2rem;
  padding-left: 6rem;
}

footer a {
  color: #f5f5f5;
}

a:hover {
  color: yellow;
}
